#photo-viewer .bd {
    background: #000;
    behavior: url(/static/ie-css3/ie-css3.htc); 
    border-radius: 10px;    
    min-height: 375px;
    padding: 10px;
    text-align: center;
    -moz-border-radius: 10px;
}
